<footer class="bg-info-green bg-primary">
  <div class="container p-0">
       <div class="row text-black py-3">
           <div class="col-4 h7 p-0">Contact</div>
           <div class="col-4 h7">Blog Host</div>
           <div class="col-4 h7">Social Media</div>
           <div class="col-4 p-0">
              <ul class="list-unstyled">
                 <li class="h7">TTS Dev Ops Pet Blog</li>
                   <li>1234 Main Street</li>
                   <li>123-456-7890</li>
               </ul>
           </div>
           <div class="col-4 p-6">
              <ul class="list-unstyled">   
                  <li>Stacey Whitfield</li>
                   </ul>
           </div>
            
           <div class="col-3 align-items-left">
               <a href="https://www.facebook.com/address/" target="blank"><img src="../assets/facebookButtonImg.jpeg" height="40px"></a>
               <a href="https://twitter.com/address" target="blank"><img src="../assets/twitterButtonImg.png" height="40px"></a>
           </div>
           <div class="col-12 p-0">
               <small>&copy; 2019<script>new Date().getFullYear()>2010&&document.write("-"+new Date().getFullYear());</script>, TTS Dev Ops Pet Blog.</small>
           </div>
       </div>
   </div>
 </footer>
