<!-- START THE FEATURETTES -->
<br>
<br>
<div class="container">
   <div class="row featurette">
     <div class="col-md-7">
       <h2 class="featurette-heading">Pet Blog <span class="text-muted">Let's share stories.</span></h2>
       <p class="lead">If you like happy customers you'll love our oh-so-easy to use hotel reservation application. Keep guests satisfied by readily handling and updating room accomodations, payments and other pertinent information.</p>
     </div>
     <div class="col-md-5">
       <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" src="../assets/petDog.jpg" width="250" height="250"/>
      </div>
   </div>

   <hr class="featurette-divider">

   <div class="row featurette">
     <div class="col-md-7 order-md-2">
       <h2 class="featurette-heading">Oh yeah, it’s that good. <span class="text-muted">See for yourself.</span></h2>
       <p class="lead">We built this application to serve the smart businesses Cognizant's hospitality sector services. Keeping in mind the quality our customers deserve while maintaining our professional reputation.</p>
     </div>
     <div class="col-md-5 order-md-1">
        <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" src="../assets/petCat.jpg" width="500" height="500"/>
     </div>
   </div>
   
   <hr class="featurette-divider">

    
   <div class="row featurette">
  
    <div class="col-md-7">
       <!---  
       <h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
       <p class="lead">Quick and accurate check-ins.  Handle incoming customers necessities using the Guest Hospitality App.</p>
     </div>
     <div class="col-md-5">
       <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto">
     -->
       <!-- START THE FEATURETTES -->
   <br>
   <br>
  
   <div class="container">
    <!--- 
    <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Guest Hospitality App. <span class="text-muted">It’ll blow your mind.</span></h2>
          <p class="lead">If you like happy customers you'll love our oh-so-easy to use hotel reservation application. Keep guests satisfied by readily handling and updating room accomodations, payments and other pertinent information.</p>
        </div>
        <div class="col-md-5">
          <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" src="https://software.homeaway.com/info/files/live/sites/hasp/files/images/blog/guest-hospitality-mobile-apps--ts-2017-06-02T18%3A09%3A56_879%2B01%3A00.jpg" width="500" height="500"/>
         </div>
      </div>
    -->
      <hr class="featurette-divider">
  <!---
      <div class="row featurette">
        <div class="col-md-7 order-md-2">
          <h2 class="featurette-heading">Oh yeah, it’s that good. <span class="text-muted">See for yourself.</span></h2>
          <p class="lead">We built this application to serve the smart businesses Cognizant's hospitality sector services. Keeping in mind the quality our customers deserve while maintaining our professional reputation.</p>
        </div>
        <div class="col-md-5 order-md-1">
           <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" src="https://newmarkhotels.com/wp-content/uploads/2017/10/Victoria-Alfred-Hotel_Accommodations.jpg" width="500" height="500"/>
        </div>
      </div>
    -->
      <hr class="featurette-divider">
  
      <hr class="featurette-divider">
   </div>" width="500" height="500"/>
     </div>
   </div>

   <hr class="featurette-divider">
</div>
